* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.giphy.com/media/mf8UbIDew7e8g/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
 }

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 210px;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
}
/* flex properties */
.earth{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}

footer .credits {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer .credits ul li {
    display: inline;
    text-align: center;
    padding: 15px;
}
#selected-items-list {
    list-style-type: none;
  }
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 82, 82);
}

.coordinates {
        color: blue;
    }

/* Mediaquery properties when app is resized */
@media screen and (max-width: 768px) {
    .info-wrapper {
      flex-direction: column;
    }
}