* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.giphy.com/media/mf8UbIDew7e8g/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 210px;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    margin-right: 45px;
}

#display-info {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}

/* flex properties */
.earth {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer .credits {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer .credits ul li {
    display: inline;
    text-align: center;
    padding: 15px;
}

#selected-items-list {
    list-style-type: none;
}

#clear-button {
    background-color: rgb(188, 4, 4);
    border-radius: 10px;
    padding: 5px;
}

.options-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.the-info {
    margin-bottom: 10px;
    /* Add spacing between each line */
}

.the-info strong {
    font-weight: bolder;
    margin-right: 5px;
}

.weather-img {
    height: 120px;
    width: 120px;
}

#selected-items-list {
    border-radius: 15px;

}

#lasted-searched {
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.8);
}

#lasted-searched h2 {
    background-color: #fff;
    border-radius: 15px;
    padding-left: 9px;
}

.bigger-button {
    font-size: 16px;
    /* Adjust the font size to make the buttons bigger */
    padding: 10px 20px;
    border-radius: 15px;
}

.spaced-button {
    margin-bottom: 10px;
}

a {
    color: #0c1ff5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 82, 82);
}

.coordinates {
    color: blue;
}

.info-wrapper {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

.info-wrapper.show {
    transform: translateY(0);
}

/* Mediaquery properties when app is resized */
@media screen and (max-width: 768px) {
    .info-wrapper {
        flex-direction: column;
    }
}